@charset "UTF-8";

body {
    background: linear-gradient(45deg, #030d99, #1322F0, #1368F0, #13F0A1, #13F0EC) no-repeat;
    height: 95.3vh;
    width: 100wh;
}

#div1 {
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.384);
}

#div2 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.205);
    width: 500px;
    height: 450px;
    border-radius: 20px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 60%;
   left: 50%;
}

#lista {
    border-radius: 20px;
    border: none;
    padding: 10px;
}
#search {
    color: rgb(0, 0, 0);
    background-color: #4c00ff6e;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.39);
}